*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #12345f;
}

.container{
	font-family: aerial, helvetica, sans-serif;
	color: white;
	margin: auto;
	width: 80%;
	overflow: visible;
}

#mainHeader{
	margin-top: 50px;
	font-size: 32px;
	text-align: center;
	background-color: #1875E6;
	border-radius: 25px;
	position: relative;

	animation-name: mainHeader;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

#navBar{
	position: relative;
	animation-name: navbar;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

#navBar ul{
	background-color: #04172E;
	border-radius: 12.5px;
	list-style-type: none;
	color: white;
	margin: 0;
	margin-top: 10px;
	overflow: hidden;
}


#navBar li{
	float: left;
}

#navBar a{
	display: block;
	text-align: center;
	color: white;
	padding: 16px 28px;
	text-decoration: none;
}

#navBar a:hover{
	background-color: #1875E6; 
}

.active{
	background-color: #1875E6;
}

.mainBox{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.mainBox div{
	border: 1px solid #04172E;
	border-radius: 25px;
	padding: 10px;
	width: 27%;
	text-align: center;
}

.mainBox a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 16px 28px;
}

.box1{
	position: relative;
	animation-name: boxone;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

.box1 a{
	transition-property: transform;
	transition-duration: 3s;
}

.box1 a:hover{
	transform: rotateY(360deg);
}

.box2{
	position: relative;
	animation-name: boxtwo;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

.box2 a{
	transition-property: transform;
	transition-duration: 3s;
}

.box2 a:hover{
	transform: rotateY(360deg);
}

.box3{
	position: relative;
	animation-name: boxthree;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

.box3 a{
	transition-property: transform;
	transition-duration: 3s;
}

.box3 a:hover{
	transform: rotateY(360deg);
}

#mainFooter{
	background-color: #04172E;
	border-radius: 25px;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
}

#mainFooter{
	position: relative;
	animation-name: mainFooter;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

/* Animations and */

@keyframes mainHeader{
	0%   {top: -500px}
	100% {top: 0px}
}

@keyframes navbar{
	0%   {left: -1500px}
	100% {left: 0px}
}

@keyframes boxone{
	0%   {left: -1500px}
	100% {left: 0px}
}

@keyframes boxtwo{
	0%   {opacity: 0}
	100% {opacity: 100}
}

@keyframes boxthree{
	0%    {right: -1500px}
	100%  {right: 0px}
}

@keyframes mainFooter{
	0%	 {bottom: -1000px}
	100% {bottom: 0px}
}